In [5]:
# Concatenate, 
# Length, 
# Lower case, 
# Upper case, 
# Left, 
# Right, 
# find, 
# replace

In [10]:
open_text = "My Program name 'is MBA"
print(open_text)

My Program name 'is MBA

In [11]:
# Concatenate 
text_1 = "India"
text_2 = "Asia"

In [14]:
text_3 = text_1 +" "+ text_2
print(text_3)

India Asia

In [17]:
" ".join((text_1, text_2))

'India Asia'

In [19]:
'2'*3

'222'

In [24]:
'2' / '3'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [21]:
len(text_1)

5

In [26]:
text_1 = 'India_123'
text_1.split('_')

['India', '123']

In [42]:
inst_name = 'Anant Awasthi'
splitted_name = inst_name.split(' ')
print(splitted_name)

NameError: name 't' is not defined

In [38]:
# Firstname = splitted_name[0]
lastname = splitted_name[1]
# print(Firstname)
print(lastname)

Awasthi

In [ ]:
"ABC-UP-16-STR90-12345"
0 - 'A'
1 - 'B'
2 - 'C'
3 - '-'
4 - 'U'
5 - 'P'
6 - '-'
7 - '1'
8 - '6'

In [43]:
Order_Id = "ABC-UP-16-STR90-12345"

In [48]:
Order_Id[7:9]

'16'

In [53]:
Order_Id.lower()

'abc-up-16-str90-12345'

In [56]:
Order_Id.title()

'Abc-Up-16-Str90-12345'

In [58]:
Order_Id.replace('UP', 'DL')

'ABC-DL-16-STR90-12345'